.header-con {
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
}

.cart-quant {
  display: flex;
  align-items: center;
}

.cart-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cart-items {
  font-size: 23px;
}
